@tailwind base;
@tailwind components;
@tailwind utilities;

.comic-sans {
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', 'Comic Code', cursive;
}

.admin-dash td,
.admin-dash th {
    border: 2px solid black;
    padding: 12px 32px 12px 10px;
    margin-right: 12px;
}